input[type="checkbox"] {
    background-color: initial;
    cursor: default;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 25px;
    height: 25px;
    display: block;
    float: left;
}

tr {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    touch-action: manipulation;
}
